<div class="contacts">

	<a href="https://github.com/CheryX">
		<span class="contact">
			<img src="/assets/github.png" alt="cherry-box logo">
			<p>GitHub</p>
		</span>
	</a>

	<a href="mailto:maciejmusielik@gmail.com">
		<span class="contact">
			<img src="/assets/mail.png" alt="Kochanowski.js logo">
			<p>E-mail</p>
		</span>
	</a>

	<a href="https://discord.com/users/344491989691269151">
		<span class="contact">
			<img src="/assets/discord.png" alt="Projekt Cramer logo">
			<p>Discord</p>
		</span>
	</a>


</div>