<div class="products">

	<a href="https://npmjs.com/cherry-box">
		<span class="product">
			<img src="/assets/cherrybox.png" alt="cherry-box logo">
			<p>cherry-box</p>
		</span>
	</a>

	<a href="https://npmjs.com/kochanowski">
		<span class="product">
			<img src="/assets/kochanowski.png" alt="Kochanowski.js logo">
			<p>Kochanowski.js</p>
		</span>
	</a>

	<a href="https://c.mmusielik.xyz">
		<span class="product">
			<img src="/assets/cramer.png" alt="Projekt Cramer logo">
			<p>Projekt Cramer</p>
		</span>
	</a>

	<a href="">
		<span class="product">
			<img src="/assets/tobias.png" alt="tobiasBot logo">
			<p>tobiasBot</p>
		</span>
	</a>

</div>