nav {
    display: flex;
    align-items: center;
    gap: 4px;
}


.button {
    display: flex;
    align-items: center;
    border-radius: 0.2em;
    padding: 0.5em 1.5em;

    border: 0;
    text-decoration: none;
    background-color: rgb(var(--primary));
    font-family: inherit;
    text-align: center;
    color: rgb(var(--background));
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}


.button:hover {
    opacity: 0.9;
}

.button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.button.alt {
    background-color: rgba(var(--secondary), 0.8);
    color: rgb(var(--text))
}