---
import Header from '../components/Header.astro';
import PostItem from '../components/PostItem.astro';
import PostPinnedItem from '../components/PostPinnedItem.astro';
const allPosts = await Astro.glob('../pages/blog/*.md');
import Layout from '../layouts/Layout.astro';

const sortedPosts = allPosts.sort((a, b) => {
  return new Date(b.frontmatter.pubDate).getTime() - new Date(a.frontmatter.pubDate).getTime();
});
---

<Layout title="CheryX's Website">

	<Header selected={1}/>

	<div class="h-20"></div>

	<main class="mx-auto max-w-5xl text-white my-20 px-5 md:px-10">

		<h1>Blog</h1>
		
		<p class="py-2 lg:text-lg mb-8">Ocasionally I post stupid posts & tutorials here:</p>

		<div class="grid lg:grid-cols-2">
			{sortedPosts.slice(0,2).map((post) => <PostPinnedItem post={post} /> )}
		</div>

		<ul>
			{sortedPosts.slice(2,allPosts.length).map((post) => <PostItem post={post} /> )}
		</ul>

	</main>

</Layout>

<style>

	h1 {
		background: linear-gradient(120deg, #00b2ff 100%, #8f00ff 0%);
		@apply bg-clip-text text-transparent text-4xl lg:text-5xl font-extrabold py-2;
	}
</style>
