---
const { post } = Astro.props;
---

<a href={post.url} class="blog-post">
    <h2>{post.frontmatter.title}</h2>
    <em class="py-2 lg:text-lg">{post.frontmatter.description}</em>
</a>

<style>
    .blog-post h2 {
		background: linear-gradient(120deg, #00b2ff 0%, #8f00ff 100%);
		@apply bg-clip-text text-transparent text-3xl lg:text-4xl font-extrabold pb-2;
	}

	.blog-post {
		@apply block px-6 border-l-[#00b3ff] border-l-4 py-2 my-5 text-center;
	}
</style>