<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="/assets/favicon.png" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
		<title>CheryX</title>
		<meta name="title" content="CheryX">
		<meta name="description" content="My personal site!">
		<link rel="stylesheet" href="/assets/style.css">
		<link rel="stylesheet" href="/assets/prism.css">
	</head>

	<body>
		
		<div class="content">
			{% include header.html %}

			{% if page.important %}
			<div class="important">
			{% else %}
			<div class="article">
			{% endif %}

				{{ content }}
			</div>

		</div>
		
		{% include footer.html %}

	</body>
</html>