<!doctype html>
<html lang="en">
	<head>
		{% include seo.html %}

		<!-- Stylesheets -->
		<link rel="stylesheet" href="/styles/colors.css">
		<link rel="stylesheet" href="/styles/landing.css">
		<link rel="stylesheet" href="/styles/prism.css">

		<!-- Utilites -->
		<script src="/styles/typewriter.js" defer></script>
	</head>
	
	<body>

		<!-- 100vh -->
		<section id="landing">
			<div class="blur-parent">

				<div class="center">
					<h1 class="title"><span class="tp" order="0">Hi! I'm</span> <span class="cheryx tp" order="1">CheryX</span><span class="tp" order="2">!</span> </h1>
					<h2><span order="3" class="tp">I am </span> <span order="4" class="tp tp-or tp-loop cheryx">a programmer|a student|bored|inside your walls|not putting these splashes to prod|or am i?</span></h2>
				</div>

			</div>
		</section>

		<section id="about">

			<br><br><br><br><br>
			<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	
			<p order="5" class="tp tp-scroll">This will type only when visible</p>

		</section>


	</body>
</html>