<!-- Note for bored people, this thing may be filled with too many references -->
<!doctype html>
<html lang="en">
	<head>
		{% include seo.html %}

		<!-- Stylesheets -->
		<link rel="stylesheet" href="/styles/colors.css">
		<link rel="stylesheet" href="/styles/landing.css">
		<link rel="stylesheet" href="/styles/prism.css">

		<!-- Utilites -->
		<script src="/scripts/typewriter.js" defer></script>
		<script src="/scripts/alerts.js" defer></script>
	</head>
	
	<body>

		{% include header.html %}

		<!-- as you can see the development process is very intense here -->
		<!-- BEING LED BY THE BLIND, TIME TO LEAVE THEM ALL BEHIIIIIIIIND, BREAKING OUT OF MY PAIN, NOTHING BUR??, IM  MY OWN MASATER NOWWWWW -->
		<div class="alert" id="alertBg">
			<b>Warning:</b> <br />
			<span id="alertContent">I DONT KNOW THE SEASON OR WHAT IS THE RASON IM STANDING THRERE</span>
		</div>

		<!-- Top thing -->
		<section id="landing">

			<div class="half">
				
				<div class="center">
					<h1 class="title">Hi! I'm <span class="cheryx text-anim">CheryX</span></h1>
					<h2 class="subtitle"><span order="3" class="tp">I am </span> <span order="4" class="tp tp-or tp-loop cheryx text-anim">a programmer|a student|bored</span></h2>
				</div>

				<!-- Bravo six. Going *down* -->
				<div id="scrollDown" onclick="customAlert('hardcode dis')">
					<span>▼</span>
				</div>

			</div>

			<!-- Gordon Freeman in the flesh. Or rather, in the hazard suit. -->
			<div class="life">
				
				<img src="" alt="" class="center">

			</div>

		</section>

	</body>
</html>