<!-- Note for bored people, this thing may be filled with too many references -->
<!doctype html>
<html lang="en">
	<head>
		{% include seo.html %}

		<!-- Stylesheets -->
		<link rel="stylesheet" href="/styles/colors.css">
		<link rel="stylesheet" href="/styles/landing.css">
		<link rel="stylesheet" href="/styles/prism.css">

		<!-- Utilites -->
		<script src="/styles/typewriter.js" defer></script>
	</head>
	
	<body>

		{% include header.html %}

		<!-- Top thing -->
		<section id="landing">

			<div class="half">
				
				<div class="center">
					<h1 class="title">Hi! I'm <span class="cheryx text-anim">CheryX</span></h1>
					<h2 class="subtitle"><span order="3" class="tp">I am </span> <span order="4" class="tp tp-or tp-loop cheryx text-anim">a programmer|a student|bored</span></h2>
				</div>

				<!-- Bravo six. Going *down* -->
				<div id="scrollDown">
					<span>▼</span>
				</div>

			</div>

			<!-- Gordon Freeman in the flesh. Or rather, in the hazard suit. -->
			<div class="life">
				eee
			</div>

		</section>

	</body>
</html>