/* This CSS file is used for more complex gradients, animations etc. NOT basic theming */

@keyframes cheryxtext {
    to {
      background-position: 200% center;
    }
}

.cheryx {
    background: rgb(0,208,197);
    background: linear-gradient(68deg, rgba(0,208,197,1) 0%, rgba(0,97,255,1) 25%, rgba(0,115,240,1) 50%, rgba(0,97,255,1) 75%, rgba(0,208,197,1) 100%);
    background-size: 200% auto;
    background-clip: text;

    -webkit-text-fill-color: transparent;
    
    animation: cheryxtext 5s linear infinite;
}