body {
  margin: 0;
}

#landing {
  height: 100vh;

  max-width: 1280px;
  margin: 0 auto;
  padding: 0 10em;

  display: flex;
  justify-content: center;
  align-items: center;
}

.half,
.life {
  width: 100%;

  display: flex;
  justify-content: center;
  flex-direction: column;
}

.life {
  align-items: center;
}

h1,
h2,
h3 {
  margin: 0;
}

#scrollDown {
  margin: 2rem;
  width: fit-content;
  aspect-ratio: 1/1;
}

.nav {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
}

.nav-item {
  padding: 1.25rem 2rem;
  margin: 0.5rem 0.25rem;
}

.alert {
  z-index: 9999;

  padding: 5px 20px;
  position: fixed;
  top: 10%;
  width: 30%;
  min-width: 300px;
  max-width: 900px;

  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.life > img {
  width: 60%;
}

#quick {
  max-width: 1280px;
  margin: 0 auto 150px auto;
  padding: 0 2em;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
}

.projects {
  margin-top: 40px;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
}

.item {
  min-height: 8em;
}

.nav-mobile,
.mobile {
  display: none !important;
}

#socials {
  position: absolute;
  right: 2%;

  display: flex;
  justify-content: right;
  align-items: center;
}

#socials > a > div {
  padding: 1.25rem 0.75rem;
  margin: 0.5rem 0.25rem;
}

#socials > a > div > img {
  height: 1em;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem 1rem;
}

footer {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

#aboutme {
  max-width: 1280px;
  margin: 0 auto 250px auto;
  padding: 0 2em;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#aboutme > .title {
  margin: 0 3rem;
  text-align: right;
}

#aboutme p {
  font-size: 18pt;
  font-weight: 500;
}

#aboutme > div {
  border-left: 2px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(0deg, #00b3ff73 0%, #9000ff65 100%);
  padding: 0 3rem;
}

@media screen and (max-width: 1500px) {
  .life {
    display: none;
  }

  #aboutme {
    flex-direction: column;
  }
}

@media screen and (max-width: 1200px) {
  .projects {
    grid-template-columns: auto auto;
  }

  .nav-mobile,
  .mobile {
    display: block !important;
  }

  .nav-pc,
  .desktop {
    display: none !important;
  }
}

@media screen and (max-width: 800px) {
  #landing {
    padding: 0 2em;
  }

  .nav-item {
    padding: 1.25rem;
  }

  .projects {
    grid-template-columns: auto;
  }

  .item > h1 {
    font-size: 2rem;
  }

  .item > summary {
    font-size: 1rem;
  }

  .item {
    min-height: 4em;
  }
}
